.clusterDiv {
  display: flex;
  flex-wrap: wrap;
}

.cardDiv {
  padding: 15px;
  margin: 15px;
  border: 1px solid #080264;
  border-radius: 12px;
  width: 300px;
  box-shadow: 3px 3px 3px #05013b;
}

.productImg {
  width: 120px;
}

.addButton {
  padding: 10px;
  color: #fff;
  background-color: #080264;
  border: none;
  border-radius: 8px;
}

.addButton:hover {
  cursor: pointer;
  background-color: #1260f1;
}

@media (min-width: 600px) {
  .productImg {
    width: 20%;
  }
}

@media (min-width: 1000px) {
  .productImg {
    width: 25%;
  }
}
